.header{
    display: flex;
    background-color: #1F2937;
    font-family: Roboto;
    flex-direction: column;
    margin-top: -8px;
}
body{
    display: flex;
    flex-direction: column;
    margin-left: -8px;
    margin-right: -8px;
}
.logo-links{
    display: flex;
    justify-content: center;
    gap: 420px;
    color: #f9faf8;
    font-size: 24px;
    
    
}
.logo{
    margin-top: 15px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    padding-top: 5px;
}
.header-links ul{
    display: flex;
    gap: 20px;
    font-size: 18px;
    
}
.header-conten{
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 130px;
    padding-top: 80px;
}
.header-conten-blok1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-conten-blok1 h1{
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0;
}

.header-conten-blok1 p{
    font-size: 18px;
    color: #E5E7EB;
}

.header-conten-blok2{
    background-color: aliceblue;
    padding-right: 150px;
    padding-left: 150px;
    margin-top: 30px;
    
}

.header-conten-blok2 p{
    margin-top: 100px;
}
.btn button{
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px #3882F6;
}

.info-tittle{
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 26px;
    font-weight: 900;
}

.info-blocs{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 60px;

}

.carre{
    display: flex;
    justify-content: center;
    border: 3px #3882F6 solid;
    padding-top: 150px;
    border-radius: 13px;
}

.info1-bloc p{
    text-align: center;
}


.quot-section{
    background-color: #E5E7EB;
    padding: 60px;

    h1{
        font-size: 36px;
        color: #1F2937;
        font-weight: 300;
        font-style: italic;
        margin-left: 160px;
        margin-right: 150px;
    }
    p{
        text-align: right;
        font-weight: 900;
        margin-right: 200px;
    }
}

.action{
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    h1{
        color: #E5E7EB;
        font-size: 18px;
    }
    p{
        margin-top: -10px;
        color: #d9dadc;
    }
    .action-btn button{
        background-color: #3882F6;
        border: 2px #E5E7EB solid;
        color: #E5E7EB;
        padding: 6px 20px;
        border-radius: 6px;
    }
}

footer{
    background-color: #1F2937;
    color: #E5E7EB;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    p{
        text-align: center;
    }
}
